@media (min-width: 0px) and (max-width: 995px) {
    #main {
        width: 100% !important;
        margin-left: 0 !important;
    }

    #modal {
        .modal-container {
            min-width: 330px;

            .close-btn {
                right: 0 !important;
                top: -50px !important;
            }
        }
    }
}