#side-bar-container {
    .side-bar {
        box-shadow: #77777740 0px 0px 60px 14px inset, #0000004d 0px 18px 36px -18px inset;

    }
}

#side-menu-btn {
    display: none;
}

#side-popup {
    .side-popup-navigations {
        .menus {
            li {
                font-size: 15px;
            }
        }
    }
}


.menus {
    li {
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
            color: white;
        }

        &.active {
            color: white;
        }
    }
}

.logo {
    padding: 2px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: 2s ease-in-out 1s infinite normal none running morph;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30%;
    }

    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

@media (min-width: 0px) and (max-width: 995px) {
    #side-bar-container {
        display: none;
    }

    #side-menu-btn {
        display: block !important;
    }
}