@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Rowdies:wght@300;400;700&display=swap');
@import "tailwindcss";

:root {
    --primary: #7ccf00;
}

html,
body {
    background: #222222;
    color: white;
    height: 100%;
    font-family: "Atma", system-ui;
    letter-spacing: 2px;
    color: #9b9b9b;
}

.open-door {
    transition: width 0.5s ease;
}

.refresh-width {
    width: 0px;
}

.center-line {
    transition: height 0.5s ease, top 0.5s ease;
}